@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Playfair Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
